*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes headermove {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }

}

html {
    font-family: "Nerko One";
    font-size: 27px;
}

h1 {
    animation: headermove 2s ease-in-out 1.5s normal forwards;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgb(106, 5, 5);
    text-shadow: 7px 7px 15px rgb(180, 106, 22);
}

.header {
    background-color: white;
}

.elements {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo-image {
    width: 350px;
    height: 100px;
    margin: 0;
}

.nav-list {
    display: inline-block;
    margin: 5px;
    padding: 15px;
}

a {
    color: rgb(106, 5, 5);

}

a:link {
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.main-part {
    background-image: url("./images/star-background.jpg");
    background-size: cover;
}

p {
    text-align: center;
    color: rgb(106, 5, 5);
}

.star {
    width: 440px;
    height: 350px;
    border: 3px solid saddlebrown;
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 7px 7px 15px rgb(180, 106, 22);
}

.star-text {
    text-align: center;
    padding-top: 15px;
    color: rgb(106, 5, 5);
}

.footer {
    background-color: saddlebrown;
    color: white;
}

.contact {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ask {
    display: inline;
    margin: 0px;
    padding: 20px;
}

.question {
    font-size: 1.5rem;
    font-weight: 400;
}

.text-question {
    width: 500px;
    font-size: medium;
    color: white;
    text-align: justify;
}

.input {
    width: 350px;
    height: 50px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    font-family: "Nerko One";
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.email {
    width: 250px;
    height: 50px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    color: brown;
    font-family: "Nerko One";
    font-size: 20px;
    padding-left: 10px;
}

.button {
    width: 150px;
    height: 50px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    color: brown;
    font-family: "Nerko One";
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.copyright {
    padding-left: 30px;
    font-size: 1.25rem;
}

[current-date] {
    margin-left: 45%;
    margin-right: 30px;
}

[current-time] {
    margin-right: 10px;
}